{{ partial "header" . }}

<div class="container">
  <article>
    <img src="/images/services/head.png" alt="Code" />
    <h1 id="title">Services</h1>
    {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="container">
        <div class="row">
          {{ range $index, $page := .Pages }}
            {{ if eq (mod $index 3) 0 }}
        </div><div class="row">
            {{ end }}
            <div class="col-md-4">
              <div class="post-summary">{{ .Render "list" }}</div>
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </article>
</div>

{{ partial "footer" . }}
