{{ partial "header" . }}

<div class="container">
  <main>
      <div class="intro">
        <img src="/images/logo-black-blue.png" alt="Logic Simplified" width="600" height="250">
        <h2>{{ markdownify .Site.Params.Description }}</h2>
      </div>
  </main>

  <article>
    <p>
      It's never been easier to execute your vision and solve the many
      technical problems keeping you from achieving your goals.  With many
      options available, the best fit solution becomes a challenge.
    </p><p>
      Bring us your problems and we'll break them down into simple, effective
      solutions.  From large-scale legacy applications to modern mobile-friendly
      UIs and web sites, we work with you to find and implement the best solution
      possible with the requirements you have.
    </p><p>
      <a href="/contact/">Start your project now</a>
    </p>
  </article>
</div>

{{ partial "footer" . }}
