{{ partial "header" . }}

<div class="container">
  <main>
      <div class="intro">
        <img src="/images/logo-black-blue.png" alt="Logic Simplified" width="600" height="250">
        <div class="impact"><h2>{{ markdownify .Site.Params.Description }}</h2></div>
      </div>
  </main>

  <article>
    <div class="impact">
      <p><a href="/about/">Who we are?</a><br><a href="/service/">What we do?</a><br><a href="/contact/">Get in touch.</a></p>
    </div>
  </article>
</div>

{{ partial "footer" . }}
